* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

a{
	text-decoration: none;
	color: white;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.phone{
	max-width: 375px;
	margin: 0 auto;
}

.btn{
	background-color: #F52F7B;
	padding: 20px 30px;
	color: white;
	width: 100%;
	max-width: 375px;
	font-size: 18px;
	font-family: 'YuGothic';
	font-weight: bold;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

img {
  pointer-events: none;
}
